.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-form-container {
    position: absolute;
    top: 310px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: auto;
    font-family: var(--main-font);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-text {
    color: #ffffff;
}

.login-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form-input {
    box-shadow: none !important;
    border-color: #cccccc !important;
}

.login-form-button {
    min-width: 9rem !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.login-background {
    position: relative;
    top: 0;
    left: 0;
}

.login-logo {
    position: relative;
    max-width: 500px;
    margin: -120px auto 0;
    z-index: -100;
}

.login-logo::before {
    content: "";
    display: block;
    width: 50px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    background-image:linear-gradient(to left, rgba(0, 0, 0, 0), #000 75%)
}

.login-logo::after {
    content: "";
    display: block;
    width: 50px;
    height: 350px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0), #000 75%)
}

.login-background-video {
    position: absolute;
    z-index: -101;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-audio {
    position: fixed;
    display: flex;
    bottom: 1rem;
    right: 1rem;
}

.login-audio-volume {
    margin: auto 0;
    color: #ffffff !important;
    width: 100px !important;
}

.login-audio-button {
    width: 60px;
}